tests/integration/codemod/repos/extra/*.json filter=lfs diff=lfs merge=lfs -text
**/test_codegen/expected_diff.patch filter=lfs diff=lfs merge=lfs -text
**/test_codegen/expected_diff.patch.skip filter=lfs diff=lfs merge=lfs -text
**/test_codegen_frontend/expected_diff.patch filter=lfs diff=lfs merge=lfs -text
tests/integration/codemod/repos/repos.json filter=lfs diff=lfs merge=lfs -text
tests/integration/verified_codemods/** filter=lfs diff=lfs merge=lfs -text
.github/disallowed-words.txt filter=lfs diff=lfs merge=lfs -text
